.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  /* padding:2rem; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 3px solid bisque;
  background-color: bisque;
}

td{
  padding: 0px;
}
.heading{
  color: #000;
}
.buttonContainer {
margin: 0px 0px 30px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
